# Ignorar archivos compilados de Java
*.class

# Ignorar carpetas de configuración de editores (opcional pero recomendado)
.vscode/
.idea/
*.iml# Ignorar ejecutables generados en la carpeta output
java/output/*.exe
